#root {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  background-color: #fda59b;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.app{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.presentation-section > div{
  margin: 35px;
}

.who-we-are > h1{
  margin-bottom: 15px;
}
.who-is > h1{
  margin-bottom: 15px;
}

.main-headlines{
  height: 400px;
  display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.first-headline{
  height: 100%;
  width: 40%;
  display: flex;
  border: 5px solid black;
}

.latest-headlines{
  height: 100%;
  width: 55%;
  margin: 10px;
  border: 5px solid black;
  display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.latest-headlines > div{
  margin: 5px;
  height: 98%;
  border: 5px solid black;
}

.stories{ 
  width: 100%;
  height: 400px;
  margin: 10px;
  border: 5px solid black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.row-headlines{
  margin-top: 45px;
}

@media (max-width: 1200px){
  .latest-headlines{
    flex-direction: column;
  }

}

@media (max-width: 980px){
  .main-headlines{
    height: 700px;
    flex-direction: column;
  }
  .first-headline{
    width: 100%;
    justify-content: center;
  }
  .latest-headlines{
    width: 100%;
  }
}

@supports (-webkit-scrollbar: none) {
  ::-webkit-scrollbar {
    display: none;
  }
}